.login1{
  box-sizing: border-box;

  position: absolute;
  width: 449px;
  height: 47px;
  left: 85px;
  top: 493px;

  background: #FFFFFF;
  border: 1px solid #CEC7C7;
  border-radius: 10px;
}
.login2{
  box-sizing: border-box;

  position: absolute;
  width: 449px;
  height: 47px;
  left: 85px;
  top: 553px;

  background: #FFFFFF;
  border: 1px solid #CEC7C7;
  border-radius: 10px;
}

.loginbutton{
  position: absolute;
  width: 449px;
  height: 47px;
  left: 85px;
  top: 613px;
  border: none;
  background: #F8E0A2;
  border-radius: 10px;
  border-color: #F8E0A2;
  
}
.register{
  position: absolute;
  width: 160px;
  height: 20px;
  left: 192px;
  top: 673px;

  font-family: 'NanumSquare_ac';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */


  color: #1C0063;
}
.link{
  position: absolute;
  width: 80px;
  height: 20px;
  left: 360px;
  top: 690px;

  font-family: 'NanumSquare_ac';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #1C0063;
}

.form-title{
  position: absolute;
  width: 100px;
  height: 20px;
  left: 1710px;
  top: 58px;

  font-family: 'NanumSquare_ac';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #000000;
}