
  .my-page-title {
    position: absolute;
    width: 256px;
    height: 23px;
    left: 77px;
    top: 59px;
    
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #2C2C2C;
  }
  
  .mystock{
    position: relative;
width: 256px;
height: 23px;
left: 75px;
top: 163px;

font-family: 'NanumSquare';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #2C2C2C;
  }

.stocklist{
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px 12px 12px;
gap: 8px;

position: relative;
width: 1500px;
height: 200px;
left: 58px;
top: 192px;

background: #FFFFFF;
border-radius: 8px;
}

.rectangleinme{
  position: absolute;
width: 728px;
height: 463px;
left: 90px;
top: 500px;
background: #F8F8F8;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
z-index: 1;
}