/* ResultPage.css */
.result-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  margin-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #333333;
}

.search-bar button {
  width: 80px;
  height: 30px;
  background-color: darkgrey;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: black;
}
/* .keyword{
  padding: 10%
} */
.result-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.word-cloud-container {
  flex: 1;
  max-width: 600px;
  margin-right: 20px;
}

.chart-container {
  flex: 1;
  max-width: 400px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .search-bar-container {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .search-bar {
    margin-bottom: 10px;
  }

  .search-bar input[type="text"] {
    width: 150px;
    height: 26px;
    margin-right: 10px;
    padding: 4px;
  }

  .search-bar button {
    width: 70px;
    height: 26px;
  }
}
