.signupname{
  box-sizing: border-box;

  position: absolute;
  width: 449px;
  height: 47px;
  left: 85px;
  top: 615px;
  
  background: #FFFFFF;
  border: 1px solid #CEC7C7;
  border-radius: 10px;
}
.signupbutton{
  position: absolute;
  width: 449px;
  height: 47px;
  left: 85px;
  top: 673px;
  border:none;
  background: #F8E0A2;
  border-radius: 10px;
  border-color: #F8E0A2;
}

.logintext{
  position: absolute;
  width: 220px;
  height: 20px;
  left: 170px;
  top: 715px;

  font-family: 'NanumSquare_ac';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */


  color: #1C0063;
}

.loginlink{
  position: absolute;
  width: 60px;
  height: 20px;
  left: 380px;
  top: 733px;

  font-family: 'NanumSquare_ac';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #1C0063;
}